<ion-view view-title="Favorites">
  <ion-content>
    <div class="card text-center">
        <img src="../img/torani.jpg" alt="" height="150px" width="100%">
        <h4>RM. TORANI</h4>
        <p>Jl. Jenderal Sudirman No. 73, Gunung Bahagia, Balikpapan</p>
        <p>3 KM</p>
    </div>
    <div class="card text-center">
        <img src="../img/torani.jpg" alt="" height="150px" width="100%">
        <h4>RM. TORANI</h4>
        <p>Jl. Jenderal Sudirman No. 73, Gunung Bahagia, Balikpapan</p>
        <p>3 KM</p>
    </div>
    <div class="card text-center">
        <img src="../img/torani.jpg" alt="" height="150px" width="100%">
        <h4>RM. TORANI</h4>
        <p>Jl. Jenderal Sudirman No. 73, Gunung Bahagia, Balikpapan</p>
        <p>3 KM</p>
    </div>
    <div class="card text-center">
        <img src="../img/torani.jpg" alt="" height="150px" width="100%">
        <h4>RM. TORANI</h4>
        <p>Jl. Jenderal Sudirman No. 73, Gunung Bahagia, Balikpapan</p>
        <p>3 KM</p>
    </div>  
  </ion-content>
</ion-view>
