<ion-view view-title="Home">
    <ion-content>
        <div class="header"></div>
        <div class="content">
            <h4 class="text-center">Apa yang ingin anda lakukan hari ini?</h4>
            <div class="row">
                <div class="col col-offset-10">
                    <a href="#/app/makan"><button class="button button-makan"></button></a>
                </div>
                <div class="col col-offset-10">
                    <a href="#/app/nongkrong"><button class="button button-nongkrong"></button></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>